<div>
	<h3>今日记</h3>
	<hr>
	<% @msgs.each do |l| %>
		<h4><%= l[0].content if l[0].present? %></h4>
		<div style="padding-bottom:15px;">
			<% l[1].each do |msg| %>
				<% if msg.present? && ["image", "text"].include?(msg.msg_type) %>
					<div class="media">
						<p class="text-muted pull-left"><%= shown_time_hm(msg.created_at) if msg.present? %></p>
						<div class="media-body">
							<% if msg.msg_type == "image" %>
								<img src="<%= msg.pic_url %>" style="max-width: 238px;">
							<% else msg.msg_type == "text" %>
					 			<p class="text-muted"><%= msg.content  %></p>
					 		<% end %>
						</div>

				 	</div>
				<% end %>
			<% end if l[1].present? %>
		</div>
	<% end if @msgs.present? %>

	<h3>自言自语</h3>
	<hr>
	<% @w_msgs[1].each do |msg| %>
		<% if msg.present? && ["image", "text"].include?(msg.msg_type) %>
			<div class="media">
				<p class="text-muted pull-left"><%= shown_time_hm(msg.created_at) if msg.present? %></p>
				<div class="media-body">
					<% if msg.msg_type == "image" %>
						<img src="<%= msg.pic_url %>" style="max-width: 238px;">
					<% else %>
						<p class="text-muted"><%= msg.content  %></p>
					<% end %>
				</div>
			</div>
		<% end %>
	<% end if @w_msgs.present? && @w_msgs[1].present? %>
</div>